{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <div class="fs-4">비밀번호 변경</div>
    <div class="mt-4 mb-3 row"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <form method="POST" class="col-md-8">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-secondary">변경</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}