{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="p-5 bg-secondary text-white rounded">
                <div class="fs-5">{{ request.user }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mt-3 mx-3"></div>
        <p class="fs-6 fw-bold mt-1 p-3 mx-3">속한 그룹:</p>
        {% for group in groups %}
        <div class="col-md-3">
            <div class="mt-1 p-3 bg-light rounded">
                <div class="fs-5 mx-3 fw-bold text-center">{{ group }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
