{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row mt-4 mb-4"></div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 mb-4">403 ERROR</h1>
    <p class="lead">죄송합니다. 페이지에 접근하기 위한 권한이 없습니다.</p>
    <p class="lead">해당 페이지는 영업 담당자만 접근 가능합니다.</p>
  </div>
</div>

<div class="col-md-8">
  <div class="d-flex justify-content-end">
    <a
      href="{% url 'managers:login' %}"
      class="btn btn-outline-secondary" type="button">
      로그인
    </a>
  </div>
</div>

{% endblock %}