{% load bootstrap_icons %}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="{% url 'pms_index' %}"
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="fs-4 me-1 d-sm-none">{% bs_icon 'house' size='1.5rem' %}</i>
            <span class="fs-4 d-none d-sm-inline">SecureCorp PMS</span>
        </a>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{% url 'estimate:request_contact' %}" class="nav-link text-white align-middle px-0">
                    <i class="fs-5 me-1">{% bs_icon 'person-circle' size='1.5rem' %}</i>
                    <span class="fs-5 d-none d-sm-inline">견적 신청</span>
                </a>
            </li>
        </ul>

        {% if request.user.is_authenticated %}
        <div class="pb-4">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                <li class="nav-item">
                    <div class="nav-link text-white align-middle px-0">
                        <a href="{% url 'managers:profile' %}" class="nav-link text-white align-middle px-0">
                            <i class="fs-5 me-1">{% bs_icon 'person-vcard' size='1.5rem' %}</i>
                            <span class="fs-5 d-none d-sm-inline">{{ request.user }}</span>
                        </a>
                    </div>
                    <hr>
                    <a href="{% url 'managers:logout' %}" class="nav-link text-white align-middle px-0">
                        <i class="fs-6 me-1">{% bs_icon 'box-arrow-left' size='1.5rem' %}</i>
                        <span class="fs-6 d-none d-sm-inline">로그아웃</span>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>